/* ========================================== */
/* Blog List Component stylesheet */
/* Styles the blog list component ./blog-list.js */
/* ========================================== */

:host {
    display: block;
}

x-alert {
    margin-top: 2rem;
}

x-blog-list {
    display: block;
    margin-top: 1rem;
}

.category-filter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 3rem;
    padding: 0.6rem 0 0 0;

    .filter-label {
        font-size: var(--fs-sm, 0.875rem);
    }

    a {
        padding: 0.5rem 1rem;
        border-radius: 10rem;
        background-color: var(--white-clr, #ffffff);
        border: 0.0625rem solid var(--light-clr-fxd, #ececec);
        color: var(--header-clr, #000000);
        text-decoration: none;
        font-size: var(--fs-sm, 0.875rem);
        font-weight: var(--fw-medium);
        transition:
            var(--clr-trans, 0.15s color ease-in-out),
            var(--bg-clr-trans, 0.15s background-color ease-in-out),
            var(--bdr-clr-trans, 0.15s border-color ease-in-out);
        will-change: color, background-color, border-color;

        &:hover {
            background-color: var(--light-clr, #ececec);
            border-color: var(--grey-clr, #999999);
        }

        &.active {
            background-color: var(--primary-clr, #1cade8);
            border-color: var(--primary-clr, #1cade8);
            color: var(--white-clr-fxd, #ffffff);
        }
    }
    .custom-select {
        width: max(300px, 100%);
        position: relative;

        select {
            appearance: none;
            width: 100%;
            font-size: var(--fs-sm, 0.875rem);
            padding: 0.4rem 2rem 0.4rem 1rem;
            background-color: var(--light-clr, #ececec);
            border: 0.0625rem solid var(--grey-clr, #999999);
            border-radius: 0.5rem;
            color: var(--header-clr, #000000);
            cursor: pointer;
            transition: var(--bdr-clr-trans, border-color 0.15s ease-in-out);
            will-change: border-color;

            option {
                color: var(--header-clr, #000000);

                &:disabled {
                    opacity: 1;
                    color: inherit;
                }
            }

            &:has(option[value='']:checked) {
                color: color-mix(
                    in oklch,
                    var(--grey-clr, #999999),
                    var(--black-clr) 30%
                );
            }
        }
        &::before,
        &::after {
            --size: 0.3rem;
            content: '';
            position: absolute;
            right: calc(1rem + calc(var(--size) / 2));
            pointer-events: none;
            transition: var(--bdr-clr-trans, border-color 0.15s ease-in-out);
            will-change: border-color;
        }

        &::before {
            border-left: var(--size) solid transparent;
            border-right: var(--size) solid transparent;
            border-bottom: var(--size) solid
                color-mix(
                    in oklch,
                    var(--grey-clr, #999999),
                    var(--black-clr) 20%
                );
            top: 50%;
            transform: translateY(calc(var(--size) * -1.5));
        }

        &::after {
            border-left: var(--size) solid transparent;
            border-right: var(--size) solid transparent;
            border-top: var(--size) solid
                color-mix(
                    in oklch,
                    var(--grey-clr, #999999),
                    var(--black-clr) 20%
                );
            top: 50%;
            transform: translateY(calc(var(--size) / 2));
        }

        &:hover,
        &:focus-within {
            &::before {
                border-bottom-color: var(--primary-clr, #1cade8);
            }

            &::after {
                border-top-color: var(--primary-clr, #1cade8);
            }
        }
    }
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

@media (max-width: 768px) {
    .category-filter {
        z-index: 1;
        position: sticky;
        top: 60px;
        padding: 16px 0 12px 0;
        margin-bottom: 2rem;
        background-color: var(--white-clr, #ffffff);
    }
}

[data-theme='dark'] {
    .category-filter {
        background-color: var(--white-clr, #000000);

        a:not(.active) {
            border-color: var(--grey-clr, #999999);

            &:hover {
                border-color: var(--light-clr-fxd, #ececec);
            }
        }
    }
}

@media (prefers-reduced-motion: no-preference) {
    @media (hover: hover) {
        .custom-select {
            select {
                &:hover {
                    border-color: var(--font-clr, #46556a);
                    outline-color: transparent;
                }

                &:focus-visible {
                    border-color: var(--primary-clr, #1cade8);
                }
            }
        }
    }
}
