/* ========================================== */
/* Footer stylesheet */
/* ========================================== */

x-footer {
    width: min(100%, var(--mx-wdth));
    margin-inline: auto;
    padding-block: 0.8rem;
    font-size: var(--fs-sm);
    background-color: var(--white-clr);
    border-top: 1px solid var(--light-clr);
}

footer {
    grid-column: breakout;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
        'left right'
        'bottom bottom';
    column-gap: 1rem;
    &:has(.footer-bottom) {
        row-gap: 0.8rem;
    }
}

.footer-left {
    grid-area: left;
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items: flex-start;
}

.footer-right {
    grid-area: right;
    white-space: nowrap;
    flex-shrink: 0;
}

.footer-bottom {
    grid-area: bottom;
    font-size: var(--fs-xs);
}

.footer-social {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    align-items: center;
    flex-shrink: 0;
}

@media (max-width: 767px) {
    footer {
        grid-template-columns: 1fr;
        grid-template-areas:
            'left'
            'right'
            'bottom';
        text-align: center;
    }

    .footer-left {
        flex-direction: column;
        row-gap: 0.8rem;
        align-items: center;
    }

    .footer-social {
        order: -1;
    }

    .footer-right {
        white-space: normal;
    }

    .footer-left,
    .footer-right,
    .footer-bottom {
        width: 100%;
    }
}
