/* ========================================== */
/* Footer stylesheet */
/* ========================================== */

x-footer {
    width: min(100%, var(--mx-wdth));
    margin-inline: auto;
    padding-block: 0.8rem;
    font-size: var(--fs-sm);
    background-color: var(--white-clr);
    border-top: 1px solid var(--light-clr);
}

footer {
    grid-column: breakout;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    > * {
        flex-shrink: 0;
    }
}

.footer-left {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
}

.footer-social {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    align-items: center;
}

@media (max-width: 767px) {
    x-current-year {
        order: 2;
    }

    footer {
        flex-direction: column;
        align-items: center;
        row-gap: 0.5rem;
    }

    .footer-left {
        flex-direction: column;
        row-gap: 0.5rem;
        text-align: center;
    }
}
