/* ========================================== */
/* Inputs stylesheet */
/* ========================================== */

/* Inputs */
.input {
    width: max(300px, 100%);
    margin: 0;
    padding: 0.4rem 1rem;
    font-size: var(--fs-std, 1rem);
    background-color: var(--white-clr, #ffffff);
    border: 0.0625rem solid var(--grey-clr, #999999);
    border-radius: 0.5rem;
    color: var(--header-clr, #000000);
    will-change: color, border-color;
    transition:
        var(--bdr-clr-trans, border-color 0.15s linear),
        var(--clr-trans, color 0.15s linear);
    &::placeholder {
        color: color-mix(
            in oklch,
            var(--grey-clr, #999999),
            var(--black-clr) 30%
        );
        will-change: color;
        transition: var(--clr-trans, color 0.15s linear);
    }
    &:hover {
        outline-color: transparent;
    }
    &:focus-visible {
        border-color: var(--primary-clr, #1cade8);
    }
}
@media (hover: hover) {
    .input:not(:focus):hover {
        border-color: var(--font-clr, #46556a);
    }
}

/* Textarea */
textarea {
    min-height: 6rem;
}

/* Radio button */
.radio {
    --size: 1rem;

    cursor: pointer;
    font-size: var(--fs-std, 1rem);
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: fit-content;
    column-gap: calc(var(--size) * 0.6);
    row-gap: calc(var(--size) * 0.1);
    will-change: color;
    transition: var(--clr-trans, color 0.2s linear);

    input[type='radio'] {
        appearance: none;
        cursor: pointer;
        height: calc(var(--size) * 1.8);
        width: calc(var(--size) * 1.8);
        flex-shrink: 0;
        margin: 0;
        border-radius: 50%;
        background-clip: content-box;
        background-color: var(--white-clr, #ffffff);
        border: 0.0625rem solid var(--grey-clr, #999999);
        will-change: border-color, border-width, padding, background-color;
        transition:
            var(--bdr-clr-trans, border-color 0.15s linear),
            border-width 0.15s linear,
            padding 0.15s linear,
            background-color 0.15s linear;

        &:checked {
            padding: calc(var(--size) * 0.28);
            border-color: var(--primary-clr, #1cade8);
            background-color: var(--white-clr, #ffffff);
            border-width: calc(var(--size) * 0.44);
        }
    }
}

@media (hover: hover) {
    .radio input[type='radio']:not(:checked):hover {
        border-color: var(--font-clr, #46556a);
    }
}

/* Select */
.select {
    width: max(300px, 100%);
    position: relative;

    select {
        appearance: none;
        width: 100%;
        font-size: var(--fs-std, 1rem);
        padding: 0.4rem 2rem 0.4rem 1rem;
        background-color: var(--white-clr, #ffffff);
        border: 0.0625rem solid var(--grey-clr, #999999);
        border-radius: 0.5rem;
        color: var(--header-clr, #000000);
        cursor: pointer;
        transition: var(--bdr-clr-trans, border-color 0.15s ease-in-out);
        will-change: border-color;

        &:hover {
            outline: transparent;
            border-color: var(--font-clr, #46556a);
        }
        &:focus-within {
            border-color: var(--primary-clr, #1cade8);
        }

        option {
            color: var(--header-clr, #000000);

            &:disabled {
                opacity: 1;
                color: inherit;
            }
        }

        &:has(option[value='']:checked) {
            color: color-mix(
                in oklch,
                var(--grey-clr, #999999),
                var(--black-clr) 30%
            );
        }
    }
    &::before,
    &::after {
        --size: 0.3rem;

        content: '';
        position: absolute;
        right: calc(1rem + calc(var(--size) / 2));
        pointer-events: none;
        transition: var(--bdr-clr-trans, border-color 0.15s ease-in-out);
        will-change: border-color;
    }

    &::before {
        border-left: var(--size) solid transparent;
        border-right: var(--size) solid transparent;
        border-bottom: var(--size) solid
            color-mix(in oklch, var(--grey-clr, #999999), var(--black-clr) 20%);
        top: 50%;
        transform: translateY(calc(var(--size) * -1.5));
    }

    &::after {
        border-left: var(--size) solid transparent;
        border-right: var(--size) solid transparent;
        border-top: var(--size) solid
            color-mix(in oklch, var(--grey-clr, #999999), var(--black-clr) 20%);
        top: 50%;
        transform: translateY(calc(var(--size) / 2));
    }

    &:hover,
    &:focus-within {
        &::before {
            border-bottom-color: var(--primary-clr, #1cade8);
        }

        &::after {
            border-top-color: var(--primary-clr, #1cade8);
        }
    }
}

/* Checkbox */
.checkbox {
    --size: 1rem;

    cursor: pointer;
    font-size: var(--fs-std, 1rem);
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: fit-content;
    column-gap: calc(var(--size) * 0.6);
    row-gap: calc(var(--size) * 0.1);
    will-change: color;
    transition: var(--clr-trans, color 0.2s linear);

    input[type='checkbox'] {
        width: 3rem;
        height: 1.5rem;
        margin: 0;
        cursor: pointer;
        appearance: none;
        background-color: var(--grey-clr, #aebfd8);
        border-radius: 1rem;
        position: relative;
        will-change: background-color;
        transition: var(--bg-clr-trans, background-color 0.3s ease-in-out);
        border: none;
        flex-shrink: 0;

        &:focus-visible {
            outline: 0.125rem solid var(--primary-clr, #1cade8);
            outline-offset: 0.125rem;
        }

        &:checked {
            background-color: var(--primary-clr, #1cade8);
        }

        &::before {
            content: '';
            box-sizing: content-box;
            width: 1.1rem;
            height: 1.1rem;
            border-radius: 50%;
            border: solid 0.1rem var(--white-clr, #ffffff);
            background-color: var(--white-clr, #ffffff);
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0.1rem, -50%);
            will-change: transform, background-color;
            transition:
                transform 0.4s cubic-bezier(0.2, 0.85, 0.32, 1.2),
                var(--bg-clr-trans, background-color 0.1s linear);
        }

        &:checked::before {
            transform: translate(1.6rem, -50%);
        }
    }
}

@media (prefers-reduced-motion: reduce) {
    .checkbox {
        input[type='checkbox'],
        input[type='checkbox']::before {
            transition: none;
        }
    }
}
