/* ========================================== */
/* Layout stylesheet */
/* 
** Breakpoints used:
** sm: 640px
** md: 768px
** lg: 1024px
** xl: 1280px
** xxl: 1792px (Max content width)
*/
/* ========================================== */

/* Structure */
html {
    scrollbar-gutter: stable;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    width: 100%;
    overflow-x: clip;
    background-color: var(--light-clr);
}

main {
    width: min(100%, var(--mx-wdth));
    margin-inline: auto;
    flex-grow: 1;
    background-color: var(--white-clr);
}

/* Set custom elements to block display */
x-image,
x-header,
x-footer {
    display: block;
}

/* 
** Content Grid Container
** This class is used to create a grid layout for the content
*/
.c-grid {
    --padding-inline: 1.4rem;
    --cont-max-w: 1024px;
    --breakout-m-w: 1280px;

    --breakout-size: calc((var(--breakout-m-w) - var(--cont-max-w)) / 2);

    display: grid;
    grid-template-columns:
        [full-width-start] minmax(var(--padding-inline), 1fr)
        [breakout-start] minmax(0, var(--breakout-size))
        [content-start] min(
            100% - (var(--padding-inline) * 2),
            var(--cont-max-w)
        )
        [content-end]
        minmax(0, var(--breakout-size)) [breakout-end]
        minmax(var(--padding-inline), 1fr) [full-width-end];

    > .breakout {
        grid-column: breakout;
    }

    &.narrow {
        --cont-max-w: 768px;
        --breakout-m-w: 1024px;
    }

    > .full-w {
        grid-column: full-width;

        display: grid;
        grid-template-columns: inherit;
    }
}

.c-grid > :not(.breakout, .full-w),
.full-w > :not(.breakout, .full-w) {
    grid-column: content;
}

/* 
** Sidebar Layout
** This class is used to create a layout with a main content area and a sidebar
*/
.main-with-sidebar {
    --main-min-width: var(--scr-md);
    --sidebar-size: 25%;
    --gap: 4em;

    display: flex;
    gap: var(--gap);
    flex-wrap: wrap;

    > * {
        flex-grow: 1;
    }

    > main,
    > .main {
        flex-grow: 999;
        flex-basis: calc(
            (
                (
                        var(--main-min-width) -
                            (100% - var(--sidebar-size) - var(--gap))
                    ) *
                    9999
            )
        );
    }

    > aside,
    > .aside {
        flex-basis: var(--sidebar-size);
    }
}

/* 
** Section Padding
** This class is used to set the padding of a section
*/
.sec-pd {
    padding-block: 3rem;
}

.sec-pd.no-tp-pd {
    padding-top: 0;
}

.sec-pd.no-bm-pd {
    padding-bottom: 0;
}

@media (min-width: 768px) {
    .sec-pd {
        padding-block: 4rem;
    }
}

@media (min-width: 1024px) {
    .sec-pd {
        padding-block: 5rem;
    }
}
