/* ========================================== */
/* Utilities stylesheet */
/* ========================================== */

/* Images */
.media-cover {
    height: 100%;
    width: 100%;
    position: absolute;
    inset: 0;
    margin: auto;

    img,
    video {
        height: 100%;
        width: 100%;
        inset: 0;
        margin: auto;
        object-fit: cover;
    }
}

section:has(> .media-cover),
article:has(> .media-cover),
div:has(> .media-cover) {
    overflow: clip;
    position: relative;

    > :not(.media-cover) {
        position: relative;
    }
}

/* Layout */
.ovrflw-clp {
    overflow: clip;
}

.rnd-crnr {
    border-radius: var(--bdr-rds);
    overflow: clip;
}

.full-h {
    height: 100%;
    min-height: 100vh;
}

/* Positioning & alignment */
.pos-rel {
    position: relative;
}

.pos-fill {
    position: absolute;
    inset: 0;
    margin: auto;
}

.algn-r {
    display: grid;
    justify-items: end;
    justify-content: end;
}

.algn-l {
    display: grid;
    justify-items: start;
    justify-content: start;
}

.algn-c {
    display: grid;
    align-items: center;
    align-content: center;
}

.algn-t {
    display: grid;
    align-items: center;
    align-content: start;
}

.algn-b {
    display: grid;
    align-items: center;
    align-content: end;
}

.z0 {
    z-index: 0;
}

.z1 {
    z-index: 1;
}

.z2 {
    z-index: 2;
}

/* Display */
.scroll-y {
    overflow-y: auto;
    overscroll-behavior-y: contain;
}

.scroll-x {
    overflow-x: auto;
    overscroll-behavior-x: contain;
}

.no-scroll {
    overflow-y: hidden;
    overscroll-behavior: contain;
}

.sr-only {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    user-select: none;
}

/* 
** Performance
** Improve rendering performance for off-screen content
** Use with 'contain-intrinsic-size: width height' to prevent layout shifts
 */
.lazy-load {
    content-visibility: auto;
}
